@page "/today"
@inject DistractionLogRepository LogsRepo
@inject DistractionTagRepository TagsRepo
@inject DistractionLogMapper LogsMapper
@inject DistractionTagMapper TagsMapper


<MudText Align="Align.Center" Typo="Typo.h2">@_todayDate.ToString("dd.MM.yyyy")</MudText>
<MudContainer MaxWidth="MaxWidth.Medium">
    <MudStack Spacing="3" Row>
        @if (_viewModels is not null)
        {
            @foreach (var viewModel in _viewModels)
            {
                <DistractionLogCard model="@viewModel" />
            }
        }
    </MudStack>
</MudContainer>
<h3>TodayLogs</h3>

@code {
    private DateTime _todayDate;
    private List<DistractionLogViewModel> _viewModels = new List<DistractionLogViewModel>();

    protected override async Task OnInitializedAsync()
    {
        _todayDate = DateTime.Now.Date;
        List<DistractionLogModel> models = await LogsRepo.GetTodayLogsAsync();
        foreach (var model in models)
        {
            DistractionLogViewModel viewModel = await LogsMapper.MapToViewModel(model);
            _viewModels.Add(viewModel);
        }
    }

    // private async Task DeleteLog(DistractionLogModel modelToDelete)
    // {
    //     await LogsRepo.DeleteLogAsync(modelToDelete);
    //     _models.Remove(modelToDelete);
    //     StateHasChanged();
    // }
}
