@page "/today"
@inject DistractionLogRepository LogsRepo
@inject DistractionTagRepository TagsRepo
<MudText Align="Align.Center" Typo="Typo.h2">@_todayDate.ToString("dd.MM.yyyy")</MudText>
<MudContainer MaxWidth="MaxWidth.Medium">
    @if(_models is not null)
    {
        @foreach(var model in _models)
        {
            <MudText>@model.Notes</MudText>
        }
    }

</MudContainer>
<h3>TodayLogs</h3>

@code {
    private List<DistractionLogModel> _models;
    private DateTime _todayDate;

    protected override async Task OnInitializedAsync()
    {
        _todayDate = DateTime.Now.Date;
        _models = await LogsRepo.GetTodayLogsAsync();
    }

    private async Task DeleteLog(DistractionLogModel modelToDelete)
    {
        await LogsRepo.DeleteLogAsync(modelToDelete);
        _models.Remove(modelToDelete);
        StateHasChanged();
    }
}
